[submodule "nix-cfg/vim/dotvim/bundle/vim-golang"]
	path = nix-cfg/vim/dotvim/bundle/vim-golang
	url = git@github.com:jnwhiteh/vim-golang.git
[submodule "nix-cfg/vim/dotvim/bundle/gocode"]
	path = nix-cfg/vim/dotvim/bundle/gocode
	url = git@github.com:Blackrush/vim-gocode.git
[submodule "nix-cfg/vim/dotvim/bundle/supertab"]
	path = nix-cfg/vim/dotvim/bundle/supertab
	url = git://github.com/vim-scripts/supertab.git
[submodule "nix-cfg/vim/dotvim/bundle/solarized"]
	path = nix-cfg/vim/dotvim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
